{% extends '_layouts/base.twig' %}

{% set styles = [] %}

{% block main %}
    <img src="../img/test.jpg" class="mt-[100px] ml-[100px]">

    <button class="bg-primary hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Button
    </button>
{% endblock main %}
