<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  {% if mode == 'production' %}
    <link rel="stylesheet" href="../css/index.css">
  {% else %}
    <script src="../css/index.js"></script>
  {% endif %}

  <script src="../js/index.js"></script>
</head>
<body>
  <img src="../img/test.jpg" class="mt-[100px] ml-[100px]">

  {{ 1 + 10 }}
</body>
</html>
